.botao {
    padding: 20px 40px;
    background-color: #6278F7;
    border: none;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;

}

.botao:hover{
    color:#92a1f7
}