.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    background-color: #f7f7f7;
}

.formulario form {
    max-width: 80%;
    background-color: #F7F7F7;
    border-radius: 20PX;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    padding: 36px 64px  ;
}
    